@keyframes searchTop {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@keyframes lift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*公共标题*/
.title {
  position: relative;
  width: 100%;
  height: 55px;
  line-height: 55px;
}
.title .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 20px solid #F6F6F6;
  border-right: 20px solid transparent;
}
.title .arrow {
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 23px;
  height: 23px;
  background: url("../images/background/sprite_index@1x.png");
}
.title h3 {
  float: left;
  height: 100%;
  margin-left: 30px;
  font-size: 26px;
  color: #fff;
}
.a-title {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-right: 18px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  margin-top: 26px;
  margin-left: 13px;
  color: #fff;
}
.a-title i.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/background/sprite_index@1x.png") -153px -40px;
}
/*公共标题结束*/
/*轮播图控制器公共代码*/
.slider-control {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #797173;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}
.slider-control-next {
  right: 0;
}
.slider-control-prev {
  left: 0;
}
.slide-indicator {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.slide-indicator i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #C8C8C8;
  margin: 0 7px;
  border-radius: 50%;
  cursor: pointer;
}
.slide-indicator i.active {
  background-color: #E01222;
}
/*轮播图控制器公共代码结束*/
/*下拉列表公共代码*/
/*绝对定位*/
.dropdown {
  position: relative;
  z-index: 3;
}
/*下拉菜单标题基础样式*/
.border {
  overflow: hidden;
  /*这个定位是为了事件触发的时候提高层级,遮盖下拉盒子的边框*/
  position: relative;
  z-index: 1;
  float: left;
  height: 28px;
  line-height: 28px;
  border: 1px solid #e3e4e5;
}
/*下拉层基础样式*/
.dropdown-layer {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
}
/*触发事件的样式*/
.dropdown:hover .border,
.hover .border {
  background-color: #fff;
  border-color: #ccc;
  border-bottom: none;
  padding-bottom: 2px;
}
.dropdown:hover .dropdown-layer,
.hover .dropdown-layer {
  display: block;
}
/*下拉列表公共代码结束*/
/*top-banner*/
#top-banner {
  background-color: #F3C29C;
  height: 80px;
}
#top-banner a {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  background: url("../images/banner/top-banner.jpg") no-repeat center;
}
#top-banner a i {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #000000;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  opacity: .3;
  filter: alpha(opacity=30);
}
/*jd-top*/
#jd-top {
  background-color: #E3E4E5;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #DBDBDB;
}
#jd-top-myjd .dropdown-layer {
  left: 0;
  top: 30px;
}
#jd-top-myjd .myjd-list {
  width: 264px;
  padding-left: 16px;
}
#jd-top-myjd .myjd-list-left {
  width: 132px;
}
#jd-top-myjd .myjd-list-right {
  width: 132px;
}
#jd-top-service .dropdown-layer {
  left: -95px;
  width: 170px;
}
#jd-top-service ul {
  width: 160px;
  padding-left: 10px;
}
#jd-top-service ul li {
  float: left;
  width: 50%;
}
#jd-top-nav.dropdown {
  z-index: 4;
}
#jd-top-nav dl {
  float: left;
  border-left: 1px solid #eee;
  padding-left: 20px;
}
#jd-top-nav dl dt {
  padding: 0 5px;
}
#jd-top-nav dl dd div {
  float: left;
  width: 85px;
}
#jd-top-nav .col-1 {
  border-left: none;
  width: 340px;
}
#jd-top-nav .col-2 {
  width: 255px;
}
#jd-top-nav .col-3 {
  width: 255px;
}
#jd-top-nav .col-4 {
  width: 255px;
}
#jd-top-nav .dropdown-layer {
  width: 1190px;
  padding: 15px 0;
  left: -1033px;
}
#jd-top-mobile .dropdown-layer {
  left: -130px;
  top: 30px;
  border: 1px solid #CFCFCF;
}
#jd-top-mobile > img {
  position: absolute;
  left: -6px;
  top: 30px;
  border: 1px solid #CFCFCF;
}
#jd-top-mobile i.arrow {
  position: absolute;
  left: 28px;
  bottom: -1px;
  z-index: 10;
  display: block;
  width: 0;
  height: 0;
  border: 4px solid;
  border-color: #E3E4E5 #E3E4E5 #fff #E3E4E5;
  border-top: none;
}
#jd-top-login .item2 {
  display: none;
}
#jd-top-login .item2 .border dt {
  padding-right: 78px;
}
#jd-top-login .item2 .border .fa-angle-down {
  position: absolute;
  right: 6px;
  top: 9px;
}
#jd-top-login .item2 .border .userinfo-plus-top-icon {
  position: absolute;
  right: 20px;
  top: 6px;
}
#jd-top-login .dropdown-layer {
  width: 270px;
}
#jd-top-login .userinfo {
  padding: 10px 15px;
}
#jd-top-login .userinfo-pic {
  float: left;
}
#jd-top-login .userinfo-pic a {
  display: block;
  padding: 0;
}
#jd-top-login .userinfo-pic img {
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
#jd-top-login .userinfo-plus {
  float: right;
  width: 157px;
  margin-left: 10px;
}
#jd-top-login .userinfo-plus-top {
  height: 16px;
  line-height: 16px;
  padding-top: 10px;
  margin-bottom: 5px;
}
#jd-top-login .userinfo-plus-top-icon {
  display: inline-block;
  width: 51px;
  height: 16px;
  background: url("../images/background/sprite_badage.png") -100px -295px;
}
#jd-top-login .userinfo-plus-top-out {
  float: right;
  display: inline-block;
  height: 16px;
  line-height: 16px;
}
#jd-top .top-left {
  margin-left: 200px;
  height: 30px;
}
#jd-top .top-left .border dt {
  padding: 0 7px;
}
#jd-top .top-left .border i {
  font-size: 18px;
  color: red;
}
#jd-top .top-left .dropdown-layer ul {
  left: 0;
  bottom: -232px;
  width: 300px;
  height: 210px;
  padding: 10px;
}
#jd-top .top-left .dropdown-layer ul li {
  float: left;
  width: 60px;
}
#jd-top .top-left .dropdown-layer ul li a {
  display: inline-block;
  height: 30px;
  padding: 0 8px;
}
#jd-top .top-left .dropdown-layer ul li a:hover {
  background-color: #F4F4F4;
}
#jd-top .top-left .dropdown-layer ul li a.active {
  background-color: red;
  color: #fff;
}
#jd-top .top-left .dropdown-layer ul li a.active:hover {
  background-color: red;
  color: #fff;
}
#jd-top .top-right li {
  float: left;
}
#jd-top .top-right li.line {
  width: 0;
  height: 10px;
  margin: 10px 10px;
  border-right: 1px solid #ccc;
}
#jd-top .top-right dt {
  padding: 0 7px;
}
#jd-top .top-right .register {
  color: #F10215;
}
/*jd-head*/
#jd-head {
  height: 140px;
}
#jd-head .w {
  height: 100%;
  position: relative;
  background-color: #F6F6F6;
}
#jd-head .w .logo {
  position: absolute;
  left: 0;
  top: -31px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#jd-head .w .logo h1 a {
  display: block;
  width: 190px;
  height: 170px;
  background: url("../images/logo.jpg") no-repeat center;
  text-indent: 999em;
}
#jd-head .w .search {
  width: 100%;
}
#jd-head .w .search .search-inside {
  position: relative;
  width: 1190px;
  height: 60px;
  margin: auto;
}
#jd-head .w .search .search-inside .form {
  position: absolute;
  left: 50%;
  top: 25px;
  width: 550px;
  height: 35px;
  margin-left: -275px;
}
#jd-head .w .search .search-inside .form input {
  float: left;
  width: 490px;
  height: 25px;
  padding: 4px;
  line-height: 25px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  border: 1px solid #F10215;
}
#jd-head .w .search .search-inside .form a {
  position: absolute;
  right: 65px;
  top: 10px;
  width: 20px;
  height: 16px;
  background: url("../images/background/sprite.png") 0 -45px;
}
#jd-head .w .search .search-inside .form button {
  float: left;
  width: 50px;
  height: 35px;
  cursor: pointer;
  background: url("../images/background/sprite.png") 0 -110px;
}
#jd-head .w .search .search-inside .search-logo {
  display: none;
}
#jd-head .w .search.fixed {
  animation: searchTop 0.5s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 99;
  border-bottom: 2px solid #f00;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#jd-head .w .search.fixed .search-inside {
  height: 48px;
}
#jd-head .w .search.fixed .form {
  top: 50%;
  margin-top: -17px;
}
#jd-head .w .search.fixed .form input {
  border-color: #efefef;
  background-color: #efefef;
}
#jd-head .w .search.fixed .search-logo {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  display: block;
}
#jd-head .w .search.fixed .search-logo a {
  display: block;
  width: 125px;
  height: 40px;
  background: url("../images/background/search-logo.png");
  text-indent: -999em;
}
#jd-head .w #shoping-car {
  position: absolute;
  top: 25px;
  right: 99px;
  z-index: 1;
}
#jd-head .w #shoping-car .border {
  width: 188px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background-color: #fff;
}
#jd-head .w #shoping-car .border .icon {
  position: absolute;
  left: 40px;
  top: 7px;
  width: 18px;
  height: 18px;
  background: url("../images/background/sprite.png") 0 -20px;
}
#jd-head .w #shoping-car .border .num {
  position: absolute;
  top: 5px;
  right: 35px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background-color: #F10215;
  border-radius: 50%;
}
#jd-head .w #shoping-car .border a {
  color: #F10215;
}
#jd-head .w #shoping-car .dropdown-layer {
  left: -120px;
  top: 35px;
}
#jd-head .w .keywords {
  position: absolute;
  top: 65px;
  left: 320px;
  width: 485px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
#jd-head .w .keywords a {
  margin-right: 10px;
}
#jd-head .w .keywords a.first {
  color: #F10215;
}
#jd-head .w .keywords a.first:hover {
  color: #C81623;
}
#jd-head .w .head-nav {
  position: absolute;
  left: 200px;
  bottom: 0;
  width: 790px;
  height: 40px;
  line-height: 40px;
}
#jd-head .w .head-nav ul li {
  float: left;
  padding: 0 15px;
}
#jd-head .w .head-nav ul li a {
  font-size: 16px;
  font-weight: 700;
}
#jd-head .w .guoqing {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 190px;
  height: 40px;
}
#jd-head .w .guoqing a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/background/guoqing.png") no-repeat center;
}
/*jd-main*/
#jd-main {
  position: relative;
  margin-bottom: 10px;
}
#jd-main .aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#jd-main .aside a {
  display: block;
  height: 480px;
  background: url("../images/banner/asidebanner.png") no-repeat 50% 0;
}
#jd-main .w {
  position: relative;
  white-space: nowrap;
  /*category*/
  /*banner*/
  /*info*/
}
#jd-main .w .category {
  position: relative;
  z-index: 2;
  width: 190px;
  height: 480px;
  background-color: #6E6568;
  margin-right: 10px;
}
#jd-main .w .category ul {
  padding: 17px 0;
}
#jd-main .w .category ul li {
  height: 28px;
  line-height: 28px;
  padding-left: 12px;
}
#jd-main .w .category ul li.active {
  background-color: #999395;
}
#jd-main .w .category ul li a {
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
}
#jd-main .w .category ul li a:hover {
  color: #C81623;
}
#jd-main .w .category .sub-menu {
  position: absolute;
  left: 190px;
  top: 0;
  display: none;
  width: 998px;
  background-color: #fff;
  border: 1px solid #f7f7f7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}
#jd-main .w .category .sub-menu > div {
  display: none;
}
#jd-main .w .banner {
  width: 790px;
  height: 480px;
  margin-right: 10px;
  /*      .slider {
              position: relative;
              width: 790px;
              height: 340px;
              margin-bottom: 10px;
              overflow: hidden;
            }
            .slider ul {
              width: 800%;
              position: absolute;
              left: -790px;
            }
            .slider ul li {
              float: left;
            }
            .slider .slider-list .slider-item a {
              display: block;
            }
      */
}
#jd-main .w .banner .slider {
  position: relative;
  width: 790px;
  height: 340px;
  margin-bottom: 10px;
}
#jd-main .w .banner .slider ul {
  position: relative;
  width: 100%;
  height: 100%;
}
#jd-main .w .banner .slider ul li {
  position: absolute;
  left: 0;
  top: 0;
}
#jd-main .w .banner .slider ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#jd-main .w .banner .slider ul li a img {
  display: block;
  width: 100%;
  height: 100%;
}
#jd-main .w .banner .slider ul li.slider-item-first {
  z-index: 1;
}
#jd-main .w .banner .slider .slider-indicator {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -78px;
  font-size: 0;
  width: 150px;
  padding: 3px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
#jd-main .w .banner .slider .slider-indicator i {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #f00;
  border-radius: 50%;
  font-size: 15px;
  margin: 0 5px;
}
#jd-main .w .banner .slider .slider-indicator i.active {
  background: blue;
}
#jd-main .w .banner .slider-control {
  position: absolute;
  display: none;
  top: 50%;
  margin-top: -30px;
  width: 30px;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  z-index: 1;
}
#jd-main .w .banner .slider-control-prev {
  left: 0;
}
#jd-main .w .banner .slider-control-next {
  right: 0;
}
#jd-main .w .info {
  width: 190px;
  height: 480px;
  background-color: #fff;
}
#jd-main .w .info .login {
  height: 115px;
}
#jd-main .w .info .login .login-top {
  height: 55px;
  padding-left: 20px;
  padding-top: 20px;
}
#jd-main .w .info .login .login-top img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
#jd-main .w .info .login .login-bottom {
  height: 40px;
  padding-left: 15px;
}
#jd-main .w .info .login .login-bottom a {
  display: inline-block;
  width: 70px;
  height: 20px;
  text-align: center;
  border: 2px solid #E01222;
  margin-right: 10px;
  color: #E01222;
}
#jd-main .w .info .login .login-bottom a:hover {
  background-color: #E01222;
  color: #fff;
}
#jd-main .w .info .news-tab {
  height: 154px;
  border-top: 1px solid #E6E6E6;
  padding-left: 13px;
}
#jd-main .w .info .news-tab .news-tab-title {
  height: 26px;
  line-height: 26px;
  border-bottom: 1px solid #E6E6E6;
}
#jd-main .w .info .news-tab .news-tab-title a {
  display: inline-block;
  height: 25px;
  border-bottom: 2px solid transparent;
}
#jd-main .w .info .news-tab .news-tab-title i {
  height: 17px;
  border-right: 1px solid #E6E6E6;
  margin: 0 10px;
}
#jd-main .w .info .news-tab .news-tab-title a.fr {
  margin-right: 15px;
}
#jd-main .w .info .news-tab .news-tab-title a.active {
  border-color: #DB192B;
}
#jd-main .w .info .news-tab .news-tab-content .tab-content-item {
  display: none;
  padding: 12px 0;
}
#jd-main .w .info .news-tab .news-tab-content .tab-content-item p {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#jd-main .w .info .news-tab .news-tab-content .tab-content-item.active {
  display: block;
}
#jd-main .w .info .service {
  height: 210px;
  width: 190px;
  overflow: hidden;
}
#jd-main .w .info .service ul {
  /*
          超出父盒子2px,左外边距-1,左右各超出1px,父盒子溢出隐藏;
          这样设置li就能一行4个
          */
  width: 192px;
  height: 210px;
  margin-left: -1px;
}
#jd-main .w .info .service ul li {
  float: left;
  width: 47px;
  height: 69px;
  border-top: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
}
#jd-main .w .info .service ul li a {
  display: block;
  width: 47px;
  height: 54px;
  padding-top: 15px;
  text-align: center;
}
#jd-main .w .info .service ul li a p {
  line-height: 21px;
  border-top: 1px solid #f00;
}
#jd-main .w .info .service ul li a i {
  display: inline-block;
  width: 22px;
  height: 24px;
}
#jd-main .w .info .service ul li a i.huafei {
  background: url("../images/background/sprite_fs@1x.png") 0 -87px;
}
#jd-main .w .info .service ul li a i.jipiao {
  background: url("../images/background/sprite_fs@1x.png") 0 -44px;
}
#jd-main .w .info .service ul li a i.jiudian {
  background: url("../images/background/sprite_fs@1x.png") -45px -88px;
}
#jd-main .w .info .service ul li a i.youxi {
  background: url("../images/background/sprite_fs@1x.png") -89px 0;
}
#jd-main .w .info .service ul li a i.qiye {
  background: url("../images/background/sprite_fs@1x.png") -89px -44px;
}
#jd-main .w .info .service ul li a i.jiayouka {
  background: url("../images/background/sprite_fs@1x.png");
}
#jd-main .w .info .service ul li a i.dianying {
  background: url("../images/background/sprite_fs@1x.png") -45px -44px;
}
#jd-main .w .info .service ul li a i.huochepiao {
  background: url("../images/background/sprite_fs@1x.png") -89px -87px;
}
#jd-main .w .info .service ul li a i.zhongchou {
  background: url("../images/background/sprite_fs@1x.png") -133px 0;
}
#jd-main .w .info .service ul li a i.licai {
  background: url("../images/background/sprite_fs@1x.png") -133px -44px;
}
#jd-main .w .info .service ul li a i.lipinka {
  background: url("../images/background/sprite_fs@1x.png") -133px -87px;
}
#jd-main .w .info .service ul li a i.baitiao {
  background: url("../images/background/sprite_fs@1x.png") -45px 0;
}
/*jd-seckill*/
#jd-seckill {
  height: 305px;
  margin-bottom: 13px;
}
#jd-seckill .w {
  /*秒杀标题*/
  /*秒杀列表*/
}
#jd-seckill .w .seckill-title {
  height: 55px;
  background: url("../images/background/seckill_hd.png") no-repeat;
  color: #fff;
}
#jd-seckill .w .seckill-title .title-left {
  position: relative;
  padding-left: 73px;
}
#jd-seckill .w .seckill-title .title-left .box {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: url("../images/background/sprite_index@1x.png") -197px -55px;
}
#jd-seckill .w .seckill-title .title-left .clock {
  display: block;
  position: absolute;
  left: 30px;
  top: 8px;
  width: 34px;
  height: 39px;
  background: url("../images/background/sprite_index@1x.png") 0 -40px;
}
#jd-seckill .w .seckill-title .title-left h3 {
  float: left;
  height: 55px;
  font: 100 26px/55px fzzhengheis-el-gbregular;
}
#jd-seckill .w .seckill-title .title-right {
  margin-right: 20px;
}
#jd-seckill .w .seckill-title .title-right span {
  float: left;
  margin-top: 27px;
  font-size: 14px;
  line-height: 1;
}
#jd-seckill .w .seckill-title .title-right ul {
  float: left;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
}
#jd-seckill .w .seckill-title .title-right ul li {
  float: left;
  margin: 0 2px;
  line-height: 37px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #440106;
}
#jd-seckill .w .seckill-title .title-right ul li.num {
  width: 35px;
  height: 37px;
  background-color: #440106;
  border-radius: 3px;
  color: #F90013;
}
#jd-seckill .w .seckill-content {
  height: 225px;
  padding-top: 12px;
  padding-bottom: 13px;
  background-color: #fff;
  /*列表左*/
  /*列表右*/
}
#jd-seckill .w .seckill-content .seckill-content-left {
  position: relative;
  width: 1000px;
  height: 225px;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul {
  position: absolute;
  left: -1000px;
  top: 0;
  width: 4000px;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li {
  float: left;
  width: 170px;
  height: 225px;
  padding-left: 15px;
  padding-right: 14px;
  border-right: 1px solid #E7E7E7;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li a {
  display: block;
  position: relative;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li a i {
  display: block;
  position: absolute;
  top: 115px;
  width: 100%;
  height: 20px;
  background: url("../images/background/sprite_index@1x.png") 0 0;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li a img {
  display: block;
  margin: 17px auto;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li a p {
  height: 30px;
  line-height: 15px;
  overflow: hidden;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li p.price {
  height: 16px;
  line-height: 16px;
  padding-top: 12px;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li p.price .price-new {
  font-weight: 700;
  font-size: 18px;
  color: #F10214;
  margin-right: 8px;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li p.price .price-original {
  text-decoration: line-through;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider ul li p.price .rmb {
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider-control {
  position: absolute;
  display: none;
  width: 20px;
  height: 50px;
  margin-top: -25px;
  font-size: 20px;
  line-height: 50px;
  color: #666;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
#jd-seckill .w .seckill-content .seckill-content-left .slider-control-prev {
  left: 10px;
  top: 50%;
}
#jd-seckill .w .seckill-content .seckill-content-left .slider-control-next {
  right: 10px;
  top: 50%;
}
#jd-seckill .w .seckill-content .seckill-content-right {
  position: relative;
  width: 180px;
  height: 225px;
  background-color: blue;
}
#jd-seckill .w .seckill-content .seckill-content-right ul {
  width: 100%;
  height: 100%;
  position: relative;
}
#jd-seckill .w .seckill-content .seckill-content-right ul li {
  position: absolute;
  left: 0;
  top: 0;
}
#jd-seckill .w .seckill-content .seckill-content-right .indicator {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
#jd-seckill .w .seckill-content .seckill-content-right .indicator .indicator-btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: #342A2D;
}
#jd-seckill .w .seckill-content .seckill-content-right .indicator .indicator-btn.active {
  background-color: #E01222;
}
/*jd-best*/
#jd-best {
  margin-bottom: 30px;
}
#jd-best .w {
  height: 445px;
}
#jd-best .w .find {
  height: 100%;
  width: 390px;
  margin-right: 10px;
}
#jd-best .w .find .title {
  background-color: #45959E;
}
#jd-best .w .find .title .arrow {
  background-position: -191px -96px;
}
#jd-best .w .find .find-items {
  height: 370px;
  padding: 10px;
  background-color: #fff;
}
#jd-best .w .find .find-items ul li {
  float: left;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
#jd-best .w .find .find-items ul li a {
  position: relative;
  display: block;
  width: 185px;
  height: 120px;
}
#jd-best .w .find .find-items ul li a p {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70px;
  font-size: 14px;
  line-height: 20px;
  color: #45959E;
}
#jd-best .w .find .find-items ul li a img {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#jd-best .w .find .find-items ul li.item-2,
#jd-best .w .find .find-items ul li.item-4,
#jd-best .w .find .find-items ul li.item-6 {
  border-right: none;
  margin-right: -1px;
}
#jd-best .w .find .find-items ul li.item-5,
#jd-best .w .find .find-items ul li.item-6 {
  border-bottom: none;
}
#jd-best .w .select {
  height: 445px;
  width: 390px;
  background-color: #fff;
  margin-right: 10px;
}
#jd-best .w .select .title {
  background-color: #74458B;
}
#jd-best .w .select .title .arrow {
  background: url("../images/background/sup_hd_dec@1x.png");
}
#jd-best .w .select .select-slider {
  position: relative;
  height: 390px;
}
#jd-best .w .select .select-slider .slider-item {
  position: absolute;
  left: 0;
  top: 0;
  height: 390px;
  width: 390px;
  display: none;
}
#jd-best .w .select .select-slider .slider-item a {
  display: block;
  width: 350px;
  height: 142px;
  padding: 20px;
  text-align: center;
}
#jd-best .w .select .select-slider .slider-item a p {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
  padding-left: 10px;
  text-align: left;
}
#jd-best .w .select .select-slider .slider-item a img {
  margin: 0 3px;
}
#jd-best .w .select .select-slider .slider-item .middle-line {
  width: 350px;
  margin: 0 auto;
  border-bottom: 1px solid #E7E7E7;
}
#jd-best .w .select .select-slider .slider-item.active {
  display: block;
}
#jd-best .w .top {
  height: 445px;
  width: 390px;
  background-color: #fff;
}
#jd-best .w .top .title {
  background-color: #E66C05;
}
#jd-best .w .top .title .arrow {
  background-position: -191px 0;
}
#jd-best .w .top .top-tab {
  height: 390px;
}
#jd-best .w .top .top-tab .top-tab-head {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #E7E7E7;
}
#jd-best .w .top .top-tab .top-tab-head a {
  display: inline-block;
  width: 77px;
  border-right: 1px solid #D2D1D1;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
}
#jd-best .w .top .top-tab .top-tab-head a.last {
  border-right: none;
}
#jd-best .w .top .top-tab .top-tab-head a.active {
  background-color: #f00;
  color: #fff;
}
#jd-best .w .top .top-tab .top-tab-content {
  padding: 10px;
  overflow: hidden;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item {
  height: 339px;
  display: none;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul {
  height: 339px;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li {
  float: left;
  width: 122px;
  text-align: center;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li a {
  position: relative;
  display: block;
  height: 157px;
  padding-top: 12px;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li a p {
  height: 32px;
  margin-top: 10px;
  padding: 0 13px;
  line-height: 16px;
  text-align: left;
  overflow: hidden;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li a .top-rank {
  position: absolute;
  left: 11px;
  top: 11px;
  width: 30px;
  height: 40px;
  line-height: 33px;
  font-size: 22px;
  color: #fff;
  background: url("../images/background/sprite_index@1x.png") -100px -99px;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li a .top-rank1 {
  background-position: -103px -39px;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li a .top-rank2 {
  background-position: -50px -99px;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li a .top-rank3 {
  background-position: 0 -99px;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li.item-4 a,
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li.item-5 a,
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li.item-6 a {
  border-bottom-color: transparent;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li.item-3 a,
#jd-best .w .top .top-tab .top-tab-content .tab-content-item ul li.item-6 a {
  border-right: none;
}
#jd-best .w .top .top-tab .top-tab-content .tab-content-item.active {
  display: block;
}
/*jd-coupon*/
#jd-coupon {
  margin-bottom: 30px;
}
#jd-coupon .w {
  height: 270px;
}
#jd-coupon .w .coupon-left {
  height: 100%;
  width: 790px;
  background-color: #fff;
}
#jd-coupon .w .coupon-left .title {
  background-color: #EE2F16;
}
#jd-coupon .w .coupon-left .title .arrow {
  background-position: -191px -48px;
}
#jd-coupon .w .coupon-left .coupon-content ul {
  padding: 10px 0;
}
#jd-coupon .w .coupon-left .coupon-content ul li {
  position: relative;
  float: left;
  width: 197px;
  border-right: 1px solid #E7E7E7;
}
#jd-coupon .w .coupon-left .coupon-content ul li .shadow {
  position: absolute;
  left: 100px;
  top: 25px;
  display: block;
  width: 15px;
  height: 150px;
  box-shadow: 0 0 30px #999;
}
#jd-coupon .w .coupon-left .coupon-content ul li a {
  position: relative;
  display: block;
  width: 182px;
  padding-top: 15px;
  padding-left: 15px;
}
#jd-coupon .w .coupon-left .coupon-content ul li a .coupon-info {
  position: relative;
  z-index: 2;
  width: 100px;
  background-color: #fff;
  border-top: 3px solid #E93524;
}
#jd-coupon .w .coupon-left .coupon-content ul li a .coupon-info .price {
  width: 100px;
  height: 47px;
  color: #F10214;
}
#jd-coupon .w .coupon-left .coupon-content ul li a .coupon-info .price .rmb {
  font-size: 12px;
}
#jd-coupon .w .coupon-left .coupon-content ul li a .coupon-info .price .num {
  font-size: 34px;
}
#jd-coupon .w .coupon-left .coupon-content ul li a .coupon-info .coupon-description {
  width: 88px;
  height: 36px;
  line-height: 18px;
  color: #F10214;
  margin-bottom: 2px;
}
#jd-coupon .w .coupon-left .coupon-content ul li a .coupon-info .coupon-limit {
  height: 42px;
  padding: 12px;
  background: #e7e7e7 url("../images/background/juchi.png") repeat-x 0 0;
}
#jd-coupon .w .coupon-left .coupon-content ul li a .coupon-info .coupon-more {
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #E93524;
  color: #fff;
}
#jd-coupon .w .coupon-left .coupon-content ul li a img {
  position: absolute;
  top: 25px;
  right: 15px;
}
#jd-coupon .w .coupon-left .coupon-content ul li.last {
  border: none;
  margin-left: -1px;
}
#jd-coupon .w .coupon-right {
  width: 390px;
  background-color: #fff;
}
#jd-coupon .w .coupon-right .title {
  background-color: #585E98;
}
#jd-coupon .w .coupon-right .title .arrow {
  background: url("../images/background/sprite_sprite_coupon@1x.png") -48px -1px;
}
#jd-coupon .w .coupon-right .explore-slider {
  position: relative;
  width: 100%;
  height: 215px;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list {
  position: relative;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list .slider-item {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list .slider-item a.link {
  display: block;
  height: 210px;
  width: 330px;
  padding: 25px 30px;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list .slider-item a.link img {
  float: left;
  vertical-align: top;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list .slider-item a.link .content-text {
  position: relative;
  float: right;
  width: 120px;
  height: 140px;
  margin-left: 10px;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list .slider-item a.link .content-text .content-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #333;
  text-align: justify;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list .slider-item a.link .content-text .content-description {
  margin-top: 2px;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list .slider-item a.link .content-text .seen {
  position: absolute;
  left: 0;
  bottom: 0;
}
#jd-coupon .w .coupon-right .explore-slider .slider-list .slider-item a.link .content-text .seen .icon {
  display: inline-block;
  vertical-align: -2px;
  width: 18px;
  height: 12px;
  margin-right: 6px;
  background: url("../images/background/sprite_sprite_coupon@1x.png") 0 -48px;
}
#jd-coupon .w .coupon-right .explore-slider .slider-item.active {
  display: block;
}
#jd-coupon .w .coupon-right .explore-slider .slide-indicator i {
  margin: 0 5px;
}
/*jd-look*/
.jd-look {
  background-color: #E0E0E0;
  margin-bottom: 30px;
}
/*jd-quality*/
.jd-quality {
  margin-bottom: 30px;
}
.jd-quality .w .quality-title {
  background: url("../images/background/xiangpinzhi.png") repeat-x 0 center;
  text-align: center;
  margin-bottom: 19px;
}
.jd-quality .w .quality-title h3 {
  display: inline-block;
  width: 190px;
  height: 36px;
  background-color: #F6F6F6;
  line-height: 36px;
  font-size: 26px;
  text-align: center;
  color: #333;
}
.jd-quality .w .quality-content .content-left ul {
  width: 780px;
  margin-right: 10px;
}
.jd-quality .w .quality-content .content-left ul li {
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
}
.jd-quality .w .quality-content .content-left ul li a {
  position: relative;
  display: block;
  width: 385px;
  height: 170px;
  overflow: hidden;
}
.jd-quality .w .quality-content .content-left ul li a .info {
  position: absolute;
  left: 0;
  top: 0;
  height: 140px;
  width: 105px;
  padding: 15px;
  background-color: #72BB91;
  opacity: .8;
}
.jd-quality .w .quality-content .content-left ul li a .info h4 {
  height: 40px;
  width: 100px;
  margin-top: 30px;
  line-height: 40px;
  text-align: center;
  font-size: 21px;
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.jd-quality .w .quality-content .content-left ul li a .info p {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}
.jd-quality .w .quality-content .content-left ul li .quality-item-2 .info {
  background-color: #DED279;
}
.jd-quality .w .quality-content .content-left ul li .quality-item-3 .info {
  background-color: #5D5566;
}
.jd-quality .w .quality-content .content-left ul li .quality-item-4 .info {
  background-color: #488C94;
}
.jd-quality .w .quality-content .content-left ul li .quality-item-5 .info {
  background-color: #D78F28;
}
.jd-quality .w .quality-content .content-left ul li .quality-item-6 .info {
  background-color: #87634F;
}
.jd-quality .w .quality-content .content-left ul li.last {
  margin-bottom: 0;
}
.jd-quality .w .quality-content .content-right {
  overflow: hidden;
}
.jd-quality .w .quality-content .content-right .jd-live {
  position: relative;
  width: 390px;
  height: 350px;
  margin-bottom: 10px;
}
.jd-quality .w .quality-content .content-right .jd-live .jd-live-title {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 38px;
  width: 100%;
  line-height: 38px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 10;
}
.jd-quality .w .quality-content .content-right .jd-live .jd-live-title h4 {
  float: left;
  padding-left: 23px;
  font-size: 16px;
}
.jd-quality .w .quality-content .content-right .jd-live .jd-live-title p {
  position: relative;
  float: right;
  padding-right: 20px;
  margin-right: 20px;
}
.jd-quality .w .quality-content .content-right .jd-live .jd-live-title p i.icon {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/background/sprite_index@1x.png") -153px -40px;
}
.jd-quality .w .quality-content .content-right .jd-live .jd-live-btn {
  position: absolute;
  display: block;
  width: 66px;
  height: 66px;
  left: 50%;
  top: 50%;
  margin-top: -33px;
  margin-left: -33px;
  background: url("../images/background/sprite_entrylive@1x.png") 0 -104px;
  z-index: 10;
}
.jd-quality .w .quality-content .content-right .jd-live .slider-list {
  position: relative;
}
.jd-quality .w .quality-content .content-right .jd-live .slider-list .slider-item {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 390px;
  height: 350px;
  overflow: hidden;
}
.jd-quality .w .quality-content .content-right .jd-live .slider-list .slider-item img {
  display: block;
  height: 100%;
}
.jd-quality .w .quality-content .content-right .jd-live .slider-list .slider-item .list-text {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.jd-quality .w .quality-content .content-right .jd-live .slider-list .slider-item .list-text .live-name {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.jd-quality .w .quality-content .content-right .jd-live .slider-list .slider-item .list-text .live-name .icon {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 19px;
  height: 18px;
  margin-right: 5px;
  background: url("../images/background/sprite_entrylive@1x.png") -205px -52px;
}
.jd-quality .w .quality-content .content-right .jd-live .slider-list .slider-item .list-text .live-description {
  font-size: 14px;
  line-height: 24px;
}
.jd-quality .w .quality-content .content-right .jd-live .slide-indicator i {
  margin: 0 3px;
}
.jd-quality .w .quality-content .content-right a.quality-item {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 170px;
  margin-right: 10px;
  overflow: hidden;
}
.jd-quality .w .quality-content .content-right a.quality-item .info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 170px;
  height: 60px;
  padding: 10px;
  text-align: center;
  opacity: .8;
}
.jd-quality .w .quality-content .content-right a.quality-item .info h4 {
  height: 30px;
  width: 100px;
  line-height: 30px;
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-size: 16px;
  margin: 0 auto 10px;
}
.jd-quality .w .quality-content .content-right a.quality-item .info p {
  color: #fff;
}
.jd-quality .w .quality-content .content-right .quality-item-7 .info {
  background-color: #B04941;
}
.jd-quality .w .quality-content .content-right .quality-item-8 .info {
  background-color: #6E356E;
}
/*jd-more*/
#jd-more .w ul {
  width: 100%;
}
#jd-more .w ul li {
  float: left;
  width: 216px;
  height: 306px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-left: 10px;
  margin-bottom: 10px;
}
#jd-more .w ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#jd-more .w ul li a img {
  display: block;
  width: 100%;
}
#jd-more .w ul li a .product-name {
  width: 195px;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  margin: 8px auto;
}
#jd-more .w ul li a .product-price {
  width: 195px;
  margin: 0 auto;
  color: #F10214;
}
/*jd-slogan*/
#jd-slogan {
  height: 72px;
  padding-top: 30px;
  background-color: #EAEAEA;
  border-bottom: 1px solid #DEDEDE;
}
#jd-slogan .w ul li {
  position: relative;
  float: left;
  width: 234px;
  height: 42px;
  line-height: 45px;
  padding-left: 46px;
}
#jd-slogan .w ul li span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 36px;
  height: 42px;
  background: url("../images/background/ico_service.png");
}
#jd-slogan .w ul li h5 {
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
#jd-slogan .w ul .index2 span {
  background-position: 0 -43px;
}
#jd-slogan .w ul .index3 span {
  background-position: 0 -86px;
}
#jd-slogan .w ul .index4 span {
  background-position: 0 -128px;
}
/*jd-footer*/
#jd-footer {
  height: 465px;
  background-color: #EAEAEA;
}
#jd-footer .w .footer-help {
  height: 150px;
  padding: 25px 0;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 10px;
}
#jd-footer .w .footer-help ul {
  height: 100%;
}
#jd-footer .w .footer-help ul li {
  float: left;
  width: 197px;
  height: 100%;
}
#jd-footer .w .footer-help ul li h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 3px;
}
#jd-footer .w .footer-help ul li p {
  height: 21px;
  line-height: 21px;
}
#jd-footer .w .footer-help ul li.cover {
  float: right;
  width: 200px;
  background: url("../images/background/ico_footer.png");
}
#jd-footer .w .footer-help ul li.cover h5 {
  text-align: center;
  margin-bottom: 12px;
}
#jd-footer .w .footer-help ul li.cover p.description {
  height: 54px;
  line-height: 18px;
  padding-left: 10px;
}
#jd-footer .w .footer-help ul li.cover p.link {
  text-align: right;
}
#jd-footer .w .footer-link p {
  height: 33px;
  line-height: 33px;
  text-align: center;
}
#jd-footer .w .footer-link p a {
  padding: 0 10px;
  border-right: 1px solid #D8D0D0;
}
#jd-footer .w .footer-link p .link-last {
  border-right: none;
}
#jd-footer .w .footer-copyright {
  margin-bottom: 30px;
}
#jd-footer .w .footer-copyright p {
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #999;
}
#jd-footer .w .footer-copyright p .space {
  margin: 0 3px;
}
#jd-footer .w .footer-credit {
  text-align: center;
}
#jd-footer .w .footer-credit a {
  display: inline-block;
  width: 103px;
  height: 32px;
  margin: 0 2px;
  background: url("../images/background/ico_footer.png") 0 -151px;
}
#jd-footer .w .footer-credit .credit-2 {
  background-position: -104px -151px;
}
#jd-footer .w .footer-credit .credit-3 {
  background-position: 0 -183px;
}
#jd-footer .w .footer-credit .credit-4 {
  background-position: -104px -183px;
}
#jd-footer .w .footer-credit .credit-5 {
  background-position: 0 -215px;
}
#jd-footer .w .footer-credit .credit-6 {
  background-position: -104px -215px;
}
/*lift 电梯*/
#jd-lift {
  display: none;
  width: 34px;
  background-color: #918888;
  margin-bottom: 500px;
}
#jd-lift ul li {
  border-bottom: 1px solid #b1aaaa;
}
#jd-lift ul li a {
  display: block;
  padding: 7px 5px;
  line-height: 14px;
  color: #fff;
  text-align: center;
}
#jd-lift ul li.to-top {
  margin-top: -1px;
  border-top: 1px solid #f6f6f6;
  background-color: #5e4a4a;
  border-bottom: none;
}
#jd-lift ul li .to-top-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-width: 4px;
  border-style: solid;
  border-color: #5e4a4a #5e4a4a #fff;
}
#jd-lift ul li.active,
#jd-lift ul li:hover {
  border-top: 1px solid #f00;
  background-color: #f00;
  border-color: #f00;
  margin-top: -1px;
}
#jd-lift ul li.to-top.active,
#jd-lift ul li.to-top:hover {
  border-top: 1px solid #f6f6f6;
  background-color: #5e4a4a;
  border-color: #f6f6f6;
}
#jd-lift.fixed {
  animation: lift 0.5s ease-in-out;
  display: block;
  position: fixed;
  left: 43px;
  top: 50%;
  margin-top: -255px;
  z-index: 100;
}
#jd-appliance {
  margin-top: 30px;
}
#jd-computer {
  margin-top: 30px;
}
#jd-sport {
  margin-top: 30px;
}
#jd-eat {
  margin-top: 30px;
}
#jd-familay {
  margin-top: 30px;
}
#jd-read {
  margin-top: 30px;
}
#jd-game {
  margin-top: 30px;
}
#jd-travel {
  margin-top: 30px;
}
